/* App.css */
@import '~@fortawesome/fontawesome-free/css/all.css';

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

.coco {
  width: 60px;
}

.navbar {
  border-bottom: 1px solid #e5e5e5;
}

.navbar-brand img {
  height: auto;
  max-width: 100%;
}

.nav-item {
  font-weight: bold;
  
}

.nav-item,
.nav-link {
  font-size: 16px;
  color: #333;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #e44d26;
}

.has-search .form-control {
  padding-left: 2rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

input[type="text"] {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
